@model IEnumerable<GrapeCity.ActiveReports.Samples.HTML5_MVC.Models.Customer>

@{
	ViewData["Title"] = "ActiveReports HTML5 MVC";
	Layout = "~/Views/Home/_Layout.cshtml";
}

<div id="body">
    <div class="centerheader">
     <span class="HeaderTxt">Customer Index:</span>
    </div>
    <div class="center">
    
    
    <table>
    

@foreach (var item in Model) {
    <tr>
        
        <td>
          @Html.ActionLink(item.ContactName , "Details", new { id=item.CustomerId})
        </td>
       
    </tr>
}

</table>
    </div>
    
</div>






