<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Diagnostics" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.781.0" newVersion="13.0.781.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>